{% extends 'home/home_layout.html.twig' %}

{% block body %}
    <div class="container mx-auto mt-10">
        <div class="grid xl:grid-flow-row xl:grid-cols-3 xl:grid-rows-2 xl:gap-2">
            {# First block FDJ Picture #}
            <div class="flex xl:col-span-1"><img src="/img/euromillion.png" alt="Euromillions Image"/> </div>
            {# 2nd block Draw date and draw numbers #}
            <div class="mt-10 ml-10 xl:col-span-2">
                <div class="text-2xl xl:text-4xl">Draw of {{ draw.drawnAt | date('l d F, Y') }}</div>
                <div class="text-gray-400 font-light"> Results Euromillions - My Million</div>
                <br/>
                <br/>
                <div class="flex justify-start ml-3 md:ml-10">
                    {% for ball in draw.balls %}
                            <div class="flex mr-2 xl:mr-5 w-12 h-12 rounded-full
                                {% if ball.getType() == 'number' %}
                                    bg-blue-900
                                {% else %}
                                    bg-yellow-300
                                {% endif %}">
                                <span class="text-white m-auto">{{ ball.value }}</span>
                            </div>
                    {% endfor %}
                </div>
            </div>
            {# 3rd block data about fdj #}
            <div class="flex place-content-end mt-10 mr-10 xl:col-span-3">
                <div class="rounded-3xl w-52 h-8 flex" style="border: solid cornflowerblue 2px">
                    <div class="m-auto">
                        {# TODO: data missing from the draw - addons.value. Should call draw.addonsValue  #}
                        <span class="text-blue-900 text-light mr-1">My Million</span><span>{{ draw.addonValue }}</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}