{% extends 'home/home_layout.html.twig' %}

{% block body %}

    <p class="mb-10 sm:ml-2 md:ml-5 lg:ml-10 xl:ml-20">My Cool Draw</p>
    <p class="text-4xl text-center p-5">Winning!</p>
{% endblock %}